<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DBConector</servlet-name>
        <servlet-class>app.classes.DBConector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowItemSupllier</servlet-name>
        <servlet-class>app.classes.ShowItemSupllier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSup</servlet-name>
        <servlet-class>app.classes.ShowSup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSupp</servlet-name>
        <servlet-class>Servlet.ShowSupp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlSupp</servlet-name>
        <servlet-class>Servlet.ControlSupp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlAdmin</servlet-name>
        <servlet-class>Servlet.ControlAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlMkt</servlet-name>
        <servlet-class>Servlet.ControlMkt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Servlet.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBConector</servlet-name>
        <url-pattern>/DBConector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowItemSupllier</servlet-name>
        <url-pattern>/ShowItemSupllier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSup</servlet-name>
        <url-pattern>/ShowSup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSupp</servlet-name>
        <url-pattern>/ShowSupp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlSupp</servlet-name>
        <url-pattern>/ControlSupp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlAdmin</servlet-name>
        <url-pattern>/ControlAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlMkt</servlet-name>
        <url-pattern>/ControlMkt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
